---
import "../styles/global.css";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/global.css" />
    <title>Mon projet Penguins</title>
  </head>
  <body>
    <nav class="bg-gray-800 p-4">
      <ul class="flex space-x-6">
        <li>
          <a
            href="./index"
            class="text-white font-semibold hover:text-yellow-400 transition-colors"
          >
            Accueil
          </a>
        </li>
        <li>
          <a
            href="./species/Adelie"
            class="text-white font-semibold hover:text-yellow-400 transition-colors"
          >
            Les Adelies
          </a>
        </li>
        <li>
          <a
            href="."
            class="text-white font-semibold hover:text-yellow-400 transition-colors"
          >

         </a>
        </li>
        <li>
          <a
            href="./cars"
            class="text-white font-semibold hover:text-yellow-400 transition-colors"
          >
           
          </a>
        </li>
      </ul>
    </nav>

    <main>
      <slot />
    </main>
  </body>
</html>
